<xml version="1.0" encoding="UTF-8">
    <SIMULATION_DELTA_TIME>0.001</SIMULATION_DELTA_TIME>
    <FRAMES_PER_PRINT>100</FRAMES_PER_PRINT>
    <LOG_ON>true</LOG_ON>

    <PERSON_QUANTITY>1</PERSON_QUANTITY>
    <PERSON_SPEED>2</PERSON_SPEED>
    <PERSON_MIN_R>0.1</PERSON_MIN_R>
    <PERSON_MAX_R>0.3</PERSON_MAX_R>

    <OBSTACLE_R>0.15</OBSTACLE_R>
    <OBSTACLE_SPEED>1</OBSTACLE_SPEED>

    <OUTPUT_PATH>output</OUTPUT_PATH>

    <HORIZONTAL_WALL_LENGTH>10</HORIZONTAL_WALL_LENGTH>
    <VERTICAL_WALL_LENGTH>10</VERTICAL_WALL_LENGTH>

    <GOAL_RADIUS>0.3</GOAL_RADIUS>

    <TAU>1</TAU>
    <VE>2</VE>

    <MAX_TOLERANCE>5</MAX_TOLERANCE>
    <LOG_ON>TRUE</LOG_ON>
</xml>