<xml version="1.0" encoding="UTF-8">
    <SYSTEM_LENGTH>100</SYSTEM_LENGTH>
    <PARTICLE_QUANTITY>1000</PARTICLE_QUANTITY>
    <PARTICLE_RADIUS>0</PARTICLE_RADIUS>
    <PARTICLE_RC>1</PARTICLE_RC>
    <PARTICLE_SPEED>0.3</PARTICLE_SPEED>
    <MAX_NOISE>0.5</MAX_NOISE>
    <AMOUNT_OF_FRAMES>1000</AMOUNT_OF_FRAMES>
    <OUTPUT_PATH>output</OUTPUT_PATH>
</xml>