<xml version="1.0" encoding="UTF-8">
    <PARTICLE_QUANTITY>20</PARTICLE_QUANTITY>
    <PARTICLE_RADIUS>0.0015</PARTICLE_RADIUS><!-->Metros<-->
    <PARTICLE_SPEED>0.01</PARTICLE_SPEED><!-->Metros por Segundo<-->
    <NOISE_COEFFICIENT>2</NOISE_COEFFICIENT>
    <AMOUNT_OF_FRAMES>1000</AMOUNT_OF_FRAMES>
    <OUTPUT_PATH>output</OUTPUT_PATH>

    <WALL_WIDTH>0.001</WALL_WIDTH><!-->Metros<-->
    <HORIZONTAL_WALL_LENGTH>200</HORIZONTAL_WALL_LENGTH><!-->Metros<-->
    <VERTICAL_WALL_LENGTH>180</VERTICAL_WALL_LENGTH><!-->Metros<-->
    <HOLE_LENGTH>130</HOLE_LENGTH><!-->Metros<-->
    <HOLE_POSITION>30</HOLE_POSITION><!-->Metros<-->
    <PARTICLE_MASS>1</PARTICLE_MASS><!-->Kilos<-->

    <PRINT_TIME>0.01</PRINT_TIME><!-->Segundos<-->
</xml>